@import url('./reset.css');
@import url('./normalize.css');
@import url('./typography.css');

:root {
  --white: #ffffff;
  --red: #d33a2c;
  --lightgray: #f3f3f3;
  --gray: #ced4da;
  --darkgray: #495057;
  --orange: #E06B24;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--lightgray);
  color: var(--darkgray);
  transition: color .2s ease-in-out,
    background-color .2s ease-in-out
}

body.dark {
  color: var(--lightgray);
  background-color: var(--darkgray);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 10px;
  background: var(--red);
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-align: center;
  font-weight: bold;
}

header li {
  display: inline-block;
}

main {
  margin-top: 100px;
}

aside,
section {
  padding: 10px;
  float: left;
  box-sizing: border-box;
}

section {
  width: 70%;
  display: inline-block;
}

section img {
  max-width: 100%;
  border: 1px solid var(--gray);
}

aside {
  width: 30%;
}

a {
  color: var(--orange);
}

a:hover {
  color: var(--white);
  background-color: var(--orange);
}

footer {
  padding: 10px;
  background-color: var(--red);
  color: var(--white);
}

button {
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--darkgray);
  background-color: var(--lightgray);
  background-clip: padding-box;
  border: 1px solid var(--gray);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 900px) {
  section,
  aside {
    width: 100%;
  }
}