@import '../assets/reset.css';
@import '../assets/normalize.css';
@import '../assets/typography.css';

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 10px;
  background-color: rgba(255, 255, 255);
  border: 1px solid red;
  box-sizing: border-box;
}

main {
  margin-top: 100px;
}

.zindex {
  border: 1px solid blue;
  z-index: 2;
  position: relative;
}

.relative {
  position: relative;
  background-color:coral;
}

.absolute {
  border: 1px solid yellow;
  background-color: aqua;
  position: absolute;
  top: -200px;
  left: 200px;
}